@model IEnumerable<sb_light_admin.BL.Repositories.DepartmentMirror>




@{
    ViewBag.Title = "DepartmentCard";
}

<h2>Department Section</h2>

<a asp-controller="Department" asp-action="Read" class="btn btn-warning">Department List</a>
<a asp-controller="Employee" asp-action="Index" class="btn btn-success">Employee List</a>





