@model sb_light_admin.BL.Models.CountryVM


@{
    ViewBag.Title = "CreateCountry";

}


<h2>Create New Country</h2>

<form enctype="multipart/form-data" class="form-group" asp-controller="Country" asp-action="CreateCountry">

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3" asp-for="CountryName"> Country Name </span>
        <input type="text" class="form-control" id="CountryName" aria-describedby="basic-addon3" asp-for="CountryName">
        <div><span asp-validation-for="CountryName" class="text-danger"></span></div>
    </div>
    <br />


    <input type="submit" value="Save" class="btn btn-success" />
    <input type="reset" value="Clear" class="btn btn-danger" />
    <br />    <br />
    <a asp-controller="Employee" asp-action="Index" class="btn btn-info">Back to Employee</a>

</form>


@section ClientValidation
{
    <script src="~/vendor/jquery-validate/jquery.validate.min.js"></script>

    <script src="~/vendor/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}

