@model IEnumerable<sb_light_admin.BL.Models.CountryVM>


@{
    ViewBag.Title = "Index";

}


@*___________________________________ Styles ___________________________________________*@

<link href="~/dist/css/ModalStyleSheet.css" rel="stylesheet" />




@*___________________________________ Body HTML ___________________________________________*@

<h2>Country List</h2>

