@*you have to rename your ViewBag.Title to something else not (Index), because the program cannot differentiate between titles in Area sections*@


@{
    ViewBag.Title = "Purchasing";
    
}

<h2>this is Area Section</h2>

<h1> Welcome to Purchasing page</h1>

