@model sb_light_admin.BL.Models.ResetPasswordVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>


    <!-- MetisMenu CSS -->
    <link href="~/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- JQuery DataTable Css -->
    <link href="~/vendor/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="~/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="~/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/dist/css/sb-admin-2.min.css" rel="stylesheet">

    @*@if (Culture == "ar-EG")
            {
                <link href="~/dist/css/StyleSheetArabic.css" rel="stylesheet" />
         }
            else
            {
                <link href="~/dist/css/StyleSheetEnglish.css" rel="stylesheet" />
        }*@

    <!-- Custom Fonts -->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



</head>

<body class="jumbotron">
    <div class="border border-dark">
        <div class="container-scroller">
            <div class="content-wrapper">
                <div class="row">

                    <div class="col-lg-4">
                    </div>

                    <div class="col-lg-4">

                        <h2>Reset Your Password</h2>
                        <br />
                        <form class="forms-sample" asp-controller="Accounts" asp-action="ResetPassword">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group">
                                <label for="exampleInputPassword1"> Enter your password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password" asp-for="Password">
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword2">Confirm your password</label>
                                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password" asp-for="ConfirmPassword">
                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                            </div>

                            <input type="submit" class="btn btn-success mr-2" value="Submit">
                            <input type="reset" class="btn btn-danger" value="Cancel">
                        </form>

                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>













    @*____________________________Scripts________________________________________*@



    <!-- jQuery -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
  
        <script src="~/vendor/jquery-validate/jquery.validate.min.js"></script>

        <script src="~/vendor/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>



    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Bootstrap-select __ JavaScript -->
    <script src="~/bootstrap-select/js/bootstrap-select.min.js"></script>

    <!-- Bootstrap CDN JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="~/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="~/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>
</body>

</html>
