@model sb_light_admin.BL.Models.MailsVM


@{
    ViewBag.Title = "SendMail";
}

<inpt type="hidden" id="confirmedMessage" value="@TempData["confirmedMessage"]"></inpt>

<h3 class="mb-5">Contact Us</h3>

<form class="form-group" asp-controller="Mails" asp-action="SendMail">

    <div asp-validation-summary="All"></div>
    <div asp-for="id" hidden></div>

    <div class="row mb-4">
        <div class="col-md-12">
            <input type="text" id="Title" class="form-control" placeholder="Title" asp-for="Title">
            <span asp-validation-for="Title"></span>
        </div>
        <br />
        <br />
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <textarea name="#" id="Message" class="form-control" placeholder="Write your Message here" cols="30" rows="10" asp-for="Message"></textarea>
            <span asp-validation-for="Message"></span>
        </div>
    </div>

    <br />  
    <div class="row">
        <div class="col-md-12">
            <input type="submit" class="btn btn-primary btn-block" value="Send Message">
            <input type="reset" class="btn btn-danger btn-block" value="Clear">
        </div>
    </div>


</form>


@section jquery_data_table
{
    <script>

        $(function () {
            var confirm = $("#confirmedMessage").val();

            if (confirm != "") {
                alert(confirm);
            }

        });


    </script>


}

